@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
}
section.home nav{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    background-color: #f1f1f1;
}
section.home nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin-block-start: 1em;
    width: 50rem;
}
section.home nav ul li a{
    text-decoration: none;
    color: #000;
}
section.home nav button{
    margin-inline-end: 6em;
    padding: 0.8em;
    outline: none;
    border: none;
    background-color: #0014FF;
    color: #f1f1f1;
    border-radius: 20px;
}
section.hero{
    width: 100%;
    height: 40em;
    display: grid;
    grid-template-columns: 6fr 6fr;
}
section.hero section.left-hero{
    margin-block-start: 8em;
    padding: 0em 5.5em;
}
section.hero section.left-hero h1{
    font-style: italic;
    color: #0014FF;
}
section.hero section.left-hero p{
    margin-block-start: 1.2em;
}
section.hero section.left-hero div button{
    padding: 1em;
    width: 10em;
    outline: none;
    border: 1px solid #0014FF;
    color: #0014FF;
    border-radius: 20px;
}
section.hero section.left-hero div button svg{
    width: 1em;
    height: 1em;
    margin-inline-start: 1em;
    fill: #0014FF;
}
section.hero section.left-hero div{
    display: grid;
    justify-content: center;
    margin-block-start: 1.6em;
}
section.hero section.right-hero{
    border: 2px solid #777;
}