.conteneur {
    display: flex;
    justify-content: space-between;
}

.bienvenu {
    background-color: #0014FF;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
}

.gauche {
    width: 300px;
    border-right: 5px solid blue;
}